<div class="container">
    <div class="movie" ng-show="movieData.details.Title">
        <div class="row">
            <div class="col-sm-4">
                <img ng-show="movieData.details.Poster !== 'N/A'"
                     class="img img-responsive img-rounded"
                     ng-src="{{ movieData.details.Poster }}"/>
            </div>
            <div class="col-sm-8">
                <div>
                    <h2>{{ movieData.details.Title }} <small>({{ movieData.details.Year }})</small></h2>
                </div>
                <hr/>
                <div style="text-align: left;">
                    <p>{{ movieData.details.Rated }} | {{ movieData.details.Runtime }} |
                       {{ movieData.details.Genre }} | {{ movieData.details.Released }}
                       ({{ movieData.details.Country }})</p>
                    <hr/>
                    <p>{{ movieData.details.Plot }}</p>
                    <hr/>
                    <p><strong>Rating:</strong> {{ movieData.details.imdbRating }}/10 from {{ movieData.details.imdbVotes }} users</p>
                    <p><strong>Awards:</strong> {{ movieData.details.Awards }}</p>
                    <p><strong>Directors:</strong> {{ movieData.details.Director }}</p>
                    <p><strong>Writers:</strong> {{ movieData.details.Writer }}</p>
                    <p><strong>Stars:</strong> {{ movieData.details.Actors }}</p>
                </div>

                <hr/>
                <button type="button"
                        class="btn btn-sm btn-primary"
                        style="vertical-align: top; margin-left: 15px;"
                        ng-click="go('search.list')">
                    <span class="glyphicon glyphicon-arrow-left"> Back</span>
                </button>
            </div>
        </div>
    </div>
</div>