<div class="jumbotron2">
    <div class="container" style="text-align: center;">

        <h2>Search For Any Movie!</h2>
        <form role="form" name="searchForm" class="form-inline" ng-submit="search()" novalidate>
            <div class="form-group">
                <label class="sr-only" for="title">Title</label>
                <input type="text" class="form-control" id="inputTitle"
                       placeholder="Title" ng-model="movieData.searchInput.title" required>
            </div>
            <button type="button"
                    class="btn btn-success"
                    ng-disabled="searchForm.$invalid"
                    ng-click="search()">Search
            </button>
            <button type="button"
                    class="btn btn-warning"
                    ng-disabled="!movieData.searchInput.title"
                    ng-click="reset()">Reset
            </button>
            <button type="button"
                    class="btn btn-primary"
                    ng-click="recommendAMovie()">Recommend
            </button>
        </form>
    </div>

    <div cg-busy="thePromise"></div>

    <hr/>

    <div>
        <h3 ng-repeat = "movie in movieData.movies | filter: { Type: 'Movie' } | orderBy: '-Year'">
            <a ng-click="viewDetails(movie.imdbID)">{{ movie.Title }} ({{ movie.Year }})</a>
        </h3>
        <!-- <pre>{{ movieData.movies | json }}</pre> -->
    </div>

</div>